*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 100%;
    margin: auto;
    padding: 0 15px;
}
.header__nav img{
    width: 35px;
    height: 35px;
    transition: .5s;
}
.header__nav img:hover{
    background: grey;
    border-radius: 50%;
    transition: .5s;
    padding: 5px;
}
.header__nav{
    display: flex;
    gap: 30px;
    padding: 14px;
}
.header__title{
    font-weight: 800;
    font-size: 30px;
}
.nav{
    background: whitesmoke;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav_title{
    align-items: center;
    display: flex;
    gap: 20px;
}
.header__ul{
    gap: 30px;
    font-size: 25px;
    display: flex;
}
.documentations__link{
    font-weight: 600;
    font-size: 19px;
    box-shadow: 0 0 5px 0;
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    text-transform: uppercase;
    margin-left: 15px;
    transition: .5s;
    border-bottom: 2px solid gray;
}
.documentations__items{
    position: absolute;
    top: 50%;
    left: 35%;
}
.documentations__link:hover{
    background: lightgray;
    transition: .5s;
}
.task-list-header-label{
    text-align: center;
    width: 100%;
}
.task-list-item-value-container{
    text-align: center;
}
.demo__h1{
    position: absolute;
}  